
:root {
    --background-image: url(https://media.discordapp.net/attachments/909430333806608385/984739159031820349/2703969.jpg);; /*Changes the background image*/
    --bg-blur: px; /*Amount of blur on the background*/
    --mention-rgb: 255,25,55;/*mention alerte color in R G B value*/
    --message-padding-side: 5px; /*message padding*/
    --message-padding-top: 1px;
    --scrollbar-color: 255,255,255; /*RGB values*/
    --scrollbar-opacity: 0.15; /*opacity of the scroll bar "bus" 0 -> 1*/
    --scrollbar-opacity-hover: 0.4;/*opacity of the scroll bar "bus" on hover 0 -> 1*/
    --scrollbar-width: 15px; /*angle smoothness*/
    --popout-color: rgba(0,0,0,0.55);
    --popout-blur: 8px; /*blur of the popup's result search bar*/
    --popout-header-opacity: 0.3;
    --popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25); /* popup result search bar shadow*/
    --popout-radius: 12px; /*radus of the pop up of the result from the search bar*/
    --popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    --card-color: rgba(160, 25, 25, 0.192); /*general dark color*/
    --card-radius: 8px /*thread smoothness*/
  
}
/*Modifies the background*/
#app-mount::before {
    content: "";
    background: var(--background-image);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* position*/
    width: 100%;
    filter: blur(var(--bg-blur));
    opacity: var(--bg-opacity);
}
/*Transparent panels*/
.appMount_fae9dd, body {
    background-color: var(--bg-main-panels);
}
.app_de4237 { /*Discord Background*/
    background-color: var(--bg-main-panels);
}

.layers__1c917 {/*don't delete this line*/
  background-color: rgba(0, 0, 0, 0.527); /*you CAN delete this one if you want or change the color of the filter, if it's ugly it's your fault*/
}/*don't delete this line*/

.standardSidebarView__1129a, /*don't delete this */
.sidebarRegionScroller__1fa7e, /* this modify the side bar you can delet/change it if you want*/
.contentRegion__0bec1,/*this is for the main region, you can delet/modify it but it can look strange*/
.bg__12180, /*this is the background, if you delete it, you will get a true black background*/
.theme-dark .layer__2efaa ,
.contentRegionScroller__86c79, /* oh hey, this code isn't so complicated right ?*/
.scroller__52680 { /*don't delete this line*/
  background-color: transparent;/*don't delete this line*/
}/*don't delete this line*/


.guildSeparator-33mFX6, .scroller__3d071, .wrapper_a7e7a8 { /* allow you to see your image*/
  background: none;
}

/*you will see your image trough the text bar, delet it to recover the legacy one*/
.scrollableContainer__33e06 {
  background-color: transparent;
}

.channelTextArea__2e60f {
  background-color: rgba(0, 0, 0, .3); /*text bar color*/
}

/*searchbar head*/
.searchBar_e0c60b {
  padding: 0 8px;
  background-color: rgba(159, 48, 48, 0.229);
}

/*friend list search bar*/
.searchBar_ff8800 {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 17px;
}
/*button over the search bar in friend tab*/
.container__11d72 .topPill-3DJJNV .item-3XjbnG.themed-2-lozF:hover {
  background-color: rgba(165, 22, 22, 0.723);
  color: rgba(255, 255, 255, .7)
} /*hover button color over the search bar*/

.container__11d72 .topPill-3DJJNV .item-3XjbnG.themed-2-lozF.selected-g-kMVV {
  background-color: var(--card-color);
} /*button color over the search bar*/

.searchBar_e4ea2a .searchBarComponent__22760 { /*the second friend search bar*/
    width: 100%;
    height: 30px;
    border-radius: 18px;
    background-color: #320d0d;
    font-size: 13px;
    font-weight: 510;
    line-height: 4px;
}

/*result searchbar*/
 .container_d6dad3 {
  background-color: var(--popout-color) !important;
  border-radius: var(--popout-radius) !important;
  box-shadow: var(--popout-shadow) !important;
  backdrop-filter: blur(var(--popout-blur));
}

.option_b5597b {
  border-radius: var(--popout-radius);
}
.option_b5597b:after {
  display: none;
}
[aria-selected=true].option_b5597b {
  background-color: var(--background-modifier-hover);
}

.focused_f9cf2c {
  background-color: transparent !important;
}

.queryContainer_c359fe {
  border: none;
  box-shadow: var(--popout-header-shadow);
}

.resultsGroup_ea9b64:before {
  display: none;
}


/*--*/
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: rgba(255, 255, 255, 0.726); /* search inscription (top right)*/
}

.container__590e2, .sidebar_ded4b5, .panels__58331, .chat__52833, .messages-3amgkR {
  background-color: transparent; /* main space of discord, don't delete this line*/
}

.theme-dark .container__11d72 {
  color: white;
  background-color: transparent; /* channel name& info*/
}
.children__32014:after,
.form__13a2c:before {
    display: none !important
} /*fix a bug with panels*/

.childWrapper__01b9c {
  background-color: #b72a2a4d;; /* in the server bar : discord button and imageless servers will be transparent, you can delete it */
  color: white;
}

.circleIconButton_d8df29 {
     background-color: #6423238f; /*server discover and add button color*/
}

.folder__17546 {
    cursor: pointer;
    background-color: #8f333326; /*folder icon background*/
}

.expandedFolderBackground__1bec6 {
       background-color: #93464659; /*folder server in the bar*/
}

.menu_dc52c6 { /*server menu*/
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: var(--card-color);
    border-radius: 20px;
}

.menu_dc52c6::after{ 
    content: '';
    width: 100%;
    height: 100%; /* Bug fix by carrot#8812 !  many thanks ! */
    position: absolute;
    backdrop-filter: blur(var(--popout-blur));
    z-index: -999;
  border-radius: 20px;
}

.children__32014:after, .theme-dark .form__13a2c:before, .theme-dark .option-2KkUJO.selected-rZcOL-:after,
.theme-dark .option-2KkUJO:after, .divider_c09b64 {
  background: none; /* if you delete, the search bar will be ugly... i guess */
}


.members__9f47b {
  background-color: rgba(0,0,0,.3);/* don't delete this... it's gonna be ugly*/
}

.members__9f47b>div {
  background-color: transparent; /* don't delete this... it's gonna be ugly*/
}

.container_b2ce9c {
  background-color: transparent;
}

.body__13cde, .activity__3cbac, .member_aa4760, .clickable__17ccb.container__4f20e:hover, .clickable__17ccb.container__4f20e:hover .muted__7327f {
  color: rgb(228, 228, 228); /*change the global color of people. activate it by delete the "@". you can also edit it if you want */
}

.contentWrapper__321ed,
.emojiPicker_b65ce9 {
  border-radius: 0 0 7px 7px;
  background:  rgba(0, 0, 0, 0.719); /*adjust the color for the emote box*/
}

.diversityEmojiItem__6505f:hover {  /* the zone were the server name is displayed*/
  background-color: rgba(0, 0, 0, 0.288);
}

.wrapper__7a35f {
  background-color: rgba(0, 0, 0, 0.048); /*wrapper*/
}

.inspector__993e1, .wrapper__4f229 { /*emoji inspector*/
  background: none;
}
 
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, /* top buttons color in the "friends menu"*/
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark .header__28ebb .tabBar__2aa8e .tab_a8a066.active__7e7af {
  background-color: #5c5859;
}

.privateChannels__93473, .scroller__4b984, .theme-dark .container__5c7e7,
.nowPlayingColumn_f5023f, .scroller__311cd, .scroller__9c698, .applicationStore_fc7d76,
.scroller__244e5 {
  background: none;  /* background in the "friend menu"*/
}

.wrapper__6e669 {
  background-color: rgba(0, 0, 0, .23);
} /* online friends card, you can edit it */


.container__0a6a9 {
  background-color: rgba(0, 0, 0, .23);
} /* container for online friend you can edit it if you want*/

.theme-dark .inset__0bfb3, .section_efc22d, .header__63c59, .titleContainer_e558ff {
  background: none;
} /* activity of your friends (like "Play on Xbox") in the container, you can edit/delete it if you want*/

.actionButton__23182 { /*buttons shape and color. 0xp = square, 20 = round*/
  border-radius: 14px;
  color: white;
  background-color: rgba(37, 36, 36, 0.6);
}

.actionButton__23182:hover, .actionButton__23182.highlight__5b64b {
  background-color: #5a5a5a;
} /* Hover action buttons color */

.theme-dark .attachment_f3cf2c, .embedFull__8dc21, .wrapper_efe67f {
  border-color: transparent;
  background-color: rgba(0,0,0,0.3);
} /* attachement and link, you can edit the color*/

.theme-dark .autocomplete_df266d, .theme-dark .uploadModal_eae2a0 {
  background: rgba(0, 0, 0, 0.842);
} /*emoji selector in the text bar*/

.theme-dark .selected-3H3-RC {
  background-color: #3b3834e5;
} /* hover in the emoji selector of the text bar*/

.reaction_b90ab0 {
  border-radius: 1px;
  background-color: rgba(82, 78, 78, 0.671); /*reaction color and shape*/
}

.button__3ecb4 {
    background-color: #0d0d326b; /*emoji reaction button in the menu*/
}

.button__3ecb4:hover {
    background-color: #b937376b; /*emoji reaction button on hover in the menu*/
}


.wrapper_c727b6 {
  background-color: #080808cc;
  box-shadow: none;
} /*reaction reply and more box*/

.reaction_b90ab0 {
  border-radius: 7px;
  background-color: rgba(204, 17, 79, 0.6);
} /*reaction shape and color*/

.modeUnread_f74c03 .icon_eff5d4, .modeUnread_f74c03:hover .icon_eff5d4,
.modeUnread_f74c03 .name__8d1ec, .modeUnread_f74c03:hover .name__8d1ec {
  color: #e0e0e0d7;
} /*unread channel*/

/*sidebar update*/
.standardSidebarView__1129a a, .imageDetails-1t6Zms a, .primary-jw0I4K a, .footer__09373 a, .lookLink-15mFoz.colorLink-1Md3RZ,
.bda-slist .bda-footer a, .markup_a7e664 a, .welcomeMessage-ULm0mo a, .theme-dark .filenameLinkWrapper__56a0d, .theme-dark .filenameLinkWrapper__56a0d a,
.topic__16ae3 a, .emptyStateCTA_e6bca2 a, .helpText-h3r3wC a, .colorStandard-21JIj7 a,
.editChannelButton-1dYN-G, .fakeLink-2FvUR7, .button_fb39e8,
.footerText-2QLGHU a {
  color: rgba(255, 51, 51, 0.74);
} 
/* TITLEBAR */
.typeWindows__5fa63 > .wordmark__0d178:before {
  content: " Chouquette Glass"; /*name of the theme*/
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  text-shadow: 0 0 3px #000;
}
.typeWindows__5fa63 > .wordmark__0d178 > svg {
  filter: drop-shadow(0 0 5px var(--main-color));
  margin-top: 0px;
}

.titleBar__01af6 {
  height: 23px; }


/*SCROLLBARS */

::-webkit-scrollbar-thumb {
  background: rgba(var(--scrollbar-color), var(--scrollbar-opacity)) !important;
 }
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--scrollbar-color), var(--scrollbar-opacity-hover)) !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background: transparent !important;
  border-color: transparent !important;
} /*make invisible the "rail"*/

/* CHAT AREA -> MESSAGES */
.wrapper__09ecc {
  border-radius: var(--messages-radius); }
  .wrapper__09ecc.cozy_f5c119, .wrapper__09ecc.compact__54ecc {
    margin-left: 47px; /*larger zone for tchat*/

    padding: var(--messages-padding);
    padding-right: 8px !important;
    border: 2px solid transparent; }
    .wrapper__09ecc.cozy_f5c119 .timestamp_cdbd93, .wrapper__09ecc.cozy_f5c119 .timestamp_cdbd93.alt__6c563, .wrapper__09ecc.compact__54ecc .timestamp_cdbd93, .wrapper__09ecc.compact__54ecc .timestamp_cdbd93.alt__6c563 {
      color: var(--text-normal); }
.avatar__08316 { /*avatar position*/
  top: -14px;
  left: -49px; }

.wrapper__09ecc.cozy_f5c119 .timestamp_cdbd93.alt__6c563 {
  left: -65px; /*timestamp in the following messages*/
}

/*EMBEDDED */

.textContainer__709ff {
  background-color: var(--card-color);
  border-radius: var(--messages-radius) var(--messages-radius) 0 0;
  border: none; }

.footer__06f4b {
  background-color: var(--card-color);
  border-radius: 0 0 var(--messages-radius) var(--messages-radius);
  border: none;
  border-top: 1px solid var(--card-color); }

/*Code Embed*/

.markup_a7e664 code {
    background: var(--card-color);
    border: 0px ;
    border-radius: 20px;;
      backdrop-filter: blur(var(--popout-blur));
}


/*mention*/


.mentioned__58017,
.mouse-mode.full-motion .message__80c10.mentioned__58017:hover {
  background-color: var(--messages-color);
  border-color: rgb(var(--mention-rgb)) !important;
  box-shadow: inset 0px 0px 7px 1px rgb(var(--mention-rgb)), 0px 0px 9px 2px rgb(var(--mention-rgb)); }

.localBot-GrCgVt:before,
.mentioned__58017:before {
  display: none; }

  /*THREADS*/
  .container_def45c {
  background-color: rgba(8, 8, 8, 0.445);
  border-radius: var(--app-radius);
}


.hasThread__58ee2:after {
  display: none;
}

.attachment_f3cf2c,
.embedFull__8dc21,
.container__767d1 {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
}
/*REPLY*/
.repliedMessage_e2bf4a:before {
  transform: translateX(38px);
}
.repliedMessage_e2bf4a .replyAvatar_cea07c,
.repliedMessage_e2bf4a .replyBadge__3d01e {
  margin-left: 4px;
}

.wrapper__09ecc.cozy_f5c119, .wrapper__09ecc.compact__54ecc {
  padding: var(--message-padding-top) var(--message-padding-side);
}

.repliedMessage_e2bf4a:before { /*replied slash command */
    --spine-width: 2px;
    top: -49%;
    right: 95%;
    bottom: 0;
    margin-top: calc(var(--spine-width)*-1/2);
    margin-left: calc(var(--spine-width)*-10/2);
    margin-bottom: calc(.125rem - 10px);
    border-top-left-radius: 20px;
    border-color: #b82c2c62;
}

/*REACTION*/
.reaction_b90ab0{background-color:rgba(255,255,255,.05);

}
.reaction_b90ab0 {
	background-color: rgba(255, 255, 255, .05);
	border-radius: 3px;
	transition: all .15s ease-in-out
}

.reaction_b90ab0:hover {
    background-color: rgba(255, 255, 255, .2)
}

/*settings and non-feed panels*/

/*ACOUNT SETTINGS*/
.accountProfileCard__22589 {
    background-color: #5425256e;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.background_b61fcc {
    border-radius: 8px;
    background-color: var(--card-color);
    padding: 16px;
    margin: 8px 16px 16px;
    
}

.fieldList_aab0de {
    border-radius: 8px;
    background-color: var(--card-color);
    
}
/*BD theme settings*/


.bd-addon-list .bd-addon-header {
    color: rgb(80, 124, 190);
    background: transparent;
}

.theme-dark .bd-addon-list .bd-addon-card {
    background-color: rgba(0, 0, 0, 0.33); /*background color of the panels*/
    border: 4px solid rgba(192, 64, 64, 0.425); /*color of the border */
}

.attachedBars_da3c74 {
	background: rgba(0, 0, 0, 0)
}

.attachedBars_da3c74 .replyBar_b64d74,
.attachedBars_da3c74 .threadSuggestionBar_b633f7 {
  background-color: transparent;
}

.root_a28985 {
    background-color: #111c3261; /*color of the message box*/
    border-radius: 30px;  /*border radius of the message box*/
    /*Error theme broken message when you open discord*/
}
.footer-31IekZ {
    border-radius: 0 0 5px 5px;/*radius border*/
    background-color: #0c121e94; /*footer color of the error theme message*/
}

.bd-tab-item.selected {
    cursor: default;
    background-color: rgb(44 64 95 / 60%); /* "theme icon" in the theme error message */
    backdrop-filter: blur(var(--popout-blur));
}

.bd-addon-error-icon {
    border-radius: 35%; /*icons border of the error theme message*/
}



/*Discord nitro history*/

.theme-dark .codeRedemptionRedirect_bc7f36 { /*footer tips message*/
    color: #fff;
    background-color: #561f1f80;
    border-color: #411717;
}

.theme-dark .paymentPane__9cf01,
.theme-dark .paginator_e620d3 {
  background-color: rgba(0, 0, 0, 0.226)
}

.theme-dark .bottomDivider_a59d97 {
  border-color: rgba(0, 0, 0, 0)
}

.theme-dark .hoverablePayment__3ea24:hover {
  background-color: rgba(216, 54, 54, 0.055)
}

.theme-dark .payment__7d702 {
  background-color: rgba(29, 28, 82, 0.158)
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo { /*modify payment button*/
    color: #fff;
    background-color: #772b2b80;
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover { /*modify payement button on hover*/
    color: #fff;
    background-color: #a13535b9;
}

/*Follow channel pop up*/
.wrapper_fbbb73 {
    background-color: #771d1d3a;
    backdrop-filter: blur(var(--popout-blur));
}
/*SERVER items*/
.communityInfoPill_d3f445 {
    background: var(--card-color);
    backdrop-filter: blur(var(--popout-blur)); /* Public badge on discord server banner*/
}

.emptyChannelIcon__1a1ba {
    background-color: #ae474746;
    backdrop-filter: blur(var(--popout-blur)); /*icon empty channel "#"*/
}

.unreadBar__6ecda {
  background-color: #ab34346d;
  backdrop-filter: blur(1px); /*un read bar*/
}

.role__88585 {
    /*color: */
    background-color: var(--card-color); /*Roles that have persmission to access to this channel. information at the top of a new channel*/
    border-radius: 20px;
}

/* create a server menu*/
.container-x8Y1ix {
    border-radius: 19px;
    background-color: #641717ad;
}

.defaultColor-24IHKz {
    color: #e83c3c;
}
/*discorver menu*/
.theme-dark .pageWrapper_fef757 {
    background-color: #621a1a46;
    backdrop-filter: blur(var(--popout-blur));
}

.theme-dark .card__86773, .theme-dark .iconMask__1aff7 {
    background-color: #2c070762;
} 

.theme-dark .searchBox_a63854 {
    background-color: #991c1c41; /*search bar*/
}

.lookFilled-1GseHa.select-1Ia3hD {
    background-color: var(--card-color); /*filter "langage"*/
    border-color: #07112c62;
}

.popout-1KHNAq {
    border: 0px solid var(--background-tertiary); /*pop up menu langage*/
    background: var(--card-color);
    border-radius: 0 0 20px 20px;
   backdrop-filter: blur(2px);
}

.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
    color: var(--interactive-active);
    background-color: #962e2e62;
}

.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv):hover {
    background-color: #962e2e62;
}

.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: #b82c2c62;
    color: var(--interactive-hover);
}

/*Jump to present bar*/

.jumpToPresentBar__0ff7f {
  background: var(--card-color);
  border-radius: 20px;
  padding-bottom: 4px;
  max-height: 40px;
  backdrop-filter: blur(var(--popout-blur));
}

.jumpToPresentBar__0ff7f>button {
  color: rgba(255, 255, 255, 0.7);
}

.jumpToPresentBar__0ff7f:hover {
  background: rgba(174, 10, 10, 0.329);
}


/**/

