/*Add a neon animation when you hover the friend's activity card board in your "friends menu" / DM*/
.theme-dark .outer_a41cf3.active__76f42, .theme-dark .outer_a41cf3.interactive__01cfa{
  transition: .6s;
}

.theme-dark .outer_a41cf3.active__76f42, .theme-dark .outer_a41cf3.interactive__01cfa:hover {
    background-color: var(--color-transparency); /*background color during the hover*/
    transition: .6s; /*speed of the transition between nothing and hover*/
    cursor: pointer; /*mouse type in hover*/
        box-shadow: 0 0 5px var(--neon-color), 0 0 8px var(--neon-color), 0 0 5px var(--neon-color), 0 0 5px var(--neon-color), 0 0 2px var(--neon-color); /*color of the shadow box*/
    } /*Animation hover  on friend's activity card*/
