/*Import*/

@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/font.css'); /*font*/
@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/animations/animations.css'); /*import and load animations*/
@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/animations/sound-para-anim.css');


:root {
    --background-image: url(https://cdn.discordapp.com/attachments/909430333806608385/918433660426924102/94628242_p0.png);; /*Changes the background image*/
    --background-image-Minsk: url('https://ac2-o.namu.la/20210311/fdeaf21af1a8c94cf65995fa560394e605261bf1af72c8c9daaa24acee141fe4.jpg?type=orig');;
    --background-image-Mikasa: url('https://wallpapercave.com/uwp/uwp423127.jpeg');;
    --background-image-Ibuki: url('https://i.imgur.com/wPsgn7Y.jpeg');
    --bg-blur: 0px; /*Amount of blur on the background*/
    --bg-opacity: 80%; /*background value of the opacity*/
    --mention-rgb: 135,15,255;/*mention alerte color in R G B value*/
    --message-padding-side: 5px; /*message padding*/
    --message-padding-top: 1px;
    --scrollbar-color: 255,255,255; /*RGB values*/
    --scrollbar-opacity: 0.15; /*opacity of the scroll bar "bus" 0 -> 1*/
    --scrollbar-opacity-hover: 0.4;/*opacity of the scroll bar "bus" on hover 0 -> 1*/
    --popout-color: rgba(0,0,0,0.55);
    --popout-blur: 8px; /*blur of the popup's result search bar*/
    --popout-header-opacity: 0.3;
    --popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25); /* popup result search bar shadow*/
    --popout-radius: 12px; /*radus of the pop up of the result from the search bar*/
    --popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    --color-button: rgb(67, 155, 67);
    --color-transparency: #0ebfff18; /*general dark color*/
    --color-light: rgba(70, 133, 187, 0.623);
    --color-secondary: #0ebfff59;
    --color-white: rgba(255, 255, 255, 0.096);
    --color-cyan: rgb(17, 194, 194);
    --card-radius: 8px /*thread smoothness*/
  
}
 /*-----MAIN TRANSPARENCY FOR THE APP-----*/

/*IMAGE PARAMETERS*/
#app-mount::before {
    content: ""; /*void content*/
    background: var(--background-image-Minsk);/*custom background*/
    background-position: center; /*position of the background*/
    background-size: cover; /*size of the background, i recommand "cover" */
    position: absolute; /*position of the image*/
    top: 0; /*position value*/
    left: 0;/*position value*/
    height: 100%; /*position value*/
    width: 100%;/*position value*/
    filter: blur(var(--bg-blur)); /*blur filter, the defalut value is in "root" and is set to "0"*/
    opacity: var(--bg-opacity); /*opacity value is in "root", default is set to "80%"*/
}
/*Transparent panels*/
.theme-dark .container-1NXEtd, .sidebar-1tnWFu, .panels-3wFtMD, .chat-9g_3Xj, .messages-3amgkR {
  background-color: transparent; /* main space of discord, don't delete this line*/
}
.appMount-2yBXZl, body {
    background-color: rgba(0, 0, 0, 0);
}
.app-2CXKsg { /*Discord Background*/
    background-color: rgba(0, 0, 0, 0);
}

.layers-OrUESM {
  background-color: rgba(0, 0, 0, 0.527); /*you CAN delete this one if you want or change the color of the filter, if it's ugly it's your fault*/
}

.guildSeparator-33mFX6, .theme-dark .scroller-3X7KbA, .wrapper-1_HaEi { /*remove standard background*/
  background: none;
}
.standardSidebarView-E9Pc3j, /*don't delete this */
.sidebarRegionScroller-FXiQOh, /* this modify the side bar you can delet/change it if you want*/
.contentRegion-3HkfJJ,/*this is for the main region, you can delet/modify it but it can look strange*/
.bg-1QIAus, /*this is the background, if you delete it, you will get a true black background*/
.theme-dark .layer-86YKbF, /*parameter for dark mode*/
.contentRegionScroller-2_GT_N, /*I don't remember what is the purpose fo this line xD*/
.scroller-3_YDR2 { /*scroller zone is set to transparent, you can modify is by a RGB or Hexa value if you want*/
  background-color: transparent;/*remove the standard background*/

}
.container-ZMc96U.themed-Hp1KC_ {
    background: transparent; /*make the header, channel description, transparent*/
}
.children-3xh0VB:after { /*fade effect in the description*/
    display: none; /*geting a ride of the fade effect because this doesn't match with the theme plus ugly*/
}


.content-1jQy2l::before {
  display: none; /*get ride of the weird bar at the top*/
}

/*Friends list and MP channels pannel*/
.privateChannels-oVe7HL, .theme-dark .scroller-WSmht3, .theme-dark .container-2cd8Mz,
.nowPlayingColumn-1eCBCN, .scroller-2XLwLg, .scroller-1TOeMq, .applicationStore-2nk7Lo,
.scroller-29cQFV, .container-1oAagU, .theme-dark .inset-SbsSFp, .section-3G9aLW, .header-JUTO-g, .titleContainer-3fPic2 {
  background: none;  /* remove the legacy background of the friends pannels*/
}

.akaBadge-3i7V3p { /*Friend Alias badge effect*/
  background-color: rgba(0, 0, 0, 0.096);
  backdrop-filter: blur(5px);
  border: none;
  box-shadow:
      0 0 .2rem #fff,
      inset 0 0 .2rem #fff,
      0 0 .2rem #08f,
      inset 0 0 .5rem #08f;
}

.wrapper-2RrXDg {
  background-color: rgba(0, 0, 0, .23);
} /* online friend's activity card, you can edit it */

.theme-dark .form-3qe0Ni:before {
  display:none; /*fix a visual bug caused to the legacy fade between your activity and the feed in the bottom left */
}
/*friend search bar*/
.searchBar-2aylmZ {
  background-color: var(--color-white); /*search bar color*/
  border-radius: 17px; /*border radius of the search bar*/
  transition: .4s; /*transition time with the hover mode is secondes*/
}
.searchBar-2aylmZ:hover {
 background-color: rgba(255, 255, 255, 0.171);/*color of the hover search bar*/
  transition: .4; /*transition time of the hover search bar*/
}
/*button over the search bar in friend tab*/
.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.themed-2-lozF:hover {
  background-color: var(--color-transparency);
  color: rgba(255, 255, 255, .7);
  transition: .4s;
} /*hover button color over the search bar*/
.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.themed-2-lozF {
transition: .4s; /*transition when unhover*/
}
.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.themed-2-lozF.selected-g-kMVV {
  background-color: var(--color-light);
} /*button color over the search bar*/

/*standard button (friends, options etc...*/
.interactiveSelected-29CP8y{ /*selected button color*/
  background-color: var(--color-light);
}
.interactive-iyXY_x:hover, .peopleListItem-u6dGxF:hover{ /*when you hover a standard button, this will change his color to blue from the default --iteractive-active color */
  background-color: var(--color-transparency);
}

.actionButton-3-B2x-,.actionButton-3-B2x-.highlight-3DSi7b{ /*action button in your friends menu, chat and burger menu*/
  background-color: var(--color-transparency);
  color:aqua /*color of the .icon*/
  }
.actionButton-3-B2x-:hover,.actionButton-3-B2x-.highlight-3DSi7b:hover{
  background-color: var(--color-secondary); /*color of the buttons when hovered*/
}

.layout-1qmrhw:hover{ /*hovering people in the guild members panel*/
  background-color: var(--color-transparency)!important;
  border-radius: 13px;
  transition: all 0.3s;
}

/*--------------------------------*/

.searchBar-3TnChZ .searchBarComponent-3N7dCG{ /*color of the quickswitcher bar*/
 font-size: 13px; /*reduce the font size to avoid bug in some language*/
 background-color: var(--color-white);
}

.quickswitcher-pKcM9U{ /*quickswitcher menu*/
  background-color: transparent; /*background color of the quickswitcher */
  backdrop-filter: blur(6px); /*adding a blur effect*/
  box-shadow: 0 0 5px #0ebeff, 0 0 8px #0ebeff, 0 0 5px #0ebeff, 0 0 5px #0ebeff, 0 0 2px #0ebeff; /*color of the shadow box*/
} /*adding a neon as border*/

.scroller-2qwVWY{
  background-color: transparent; /*removing the color of the center in the quickswitcher menu */
  scrollbar-color: var(--color-transparency);
}

.input-3r5zZY{/*input of the quickswitcher search menu*/
background-color: transparent;
}

.quickswitcher-pKcM9U .scroller-2qwVWY::-webkit-scrollbar-track {
  background-color: transparent !important; /*color of the track scrolling quickswitcher*/
}
/*--------------better discord settings---------*/
/*pluggins*/
.bd-addon-list{
background-color: var(--card-color) !important;
  border-radius: var(--popout-radius) !important;border:display ; /*remove the border*/
        box-shadow: /*add a neon instead of the legacy border*/
            0 0 .2rem #fff,
            inset 0 0 .5rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
            0 0 .9rem #08f, /*offset glowing*/
            inset 0 0 1rem #08f;  /*glowing intensity*/
  }

/*---------SCROLLBAR --------- */

::-webkit-scrollbar-thumb {
  background: rgba(var(--scrollbar-color), var(--scrollbar-opacity)) !important;
 }
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--scrollbar-color), var(--scrollbar-opacity-hover)) !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background: transparent !important;
  border-color: transparent !important;
} /*make invisible the "rail"*/

/*------TCHAT ZONE------*/

/*BIGGER MESSAGE AREA / FEED IS MORE WIDH */
.wrapper-30-Nkg {
  border-radius: var(--messages-radius); }
  .wrapper-30-Nkg.cozy-VmLDNB, .wrapper-30-Nkg.compact-2Nkcau {
    margin-left: 47px; /*larger zone for tchat*/

    padding: var(--messages-padding);
    padding-right: 8px !important;
    border: 2px solid transparent; }
    .wrapper-30-Nkg.cozy-VmLDNB .timestamp-p1Df1m, .wrapper-30-Nkg.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH, .wrapper-30-Nkg.compact-2Nkcau .timestamp-p1Df1m, .wrapper-30-Nkg.compact-2Nkcau .timestamp-p1Df1m.alt-1dvXnH {
      color: var(--text-normal); }
.avatar-2e8lTP { /*avatar position*/
  top: -14px;
  left: -49px; 
  }

.wrapper-30-Nkg.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  left: -65px; /*timestamp in the following messages in -65px to avoid bug this the larger zone*/
}

.messageListItem-ZZ7v6g{
  margin-left: 19px /*mooving message to the right to avoid bug,  this reduce a little bit the text area*/
}

/*messages*/

.wrapper-30-Nkg:hover { /*animation when you hover a message*/
    background-color: var(--color-transparency) !important; /*change the color to the var set in root*/
  border-radius: var(--popout-radius); /*change the border radius to the var set in root*/
  transition: .4s; /*transition time when you hover a message*/
}
/*time / date of messages*/
.content-3spvdd, .divider-2rZFJK{
  background-color: rgba(19, 155, 155, 0.788);
}

.wrapper-30-Nkg{
  transition: .4s; /*transition when you hover out a message*/
}

.wrapper-30-Nkg:not(.groupStart-3Mlgv1), .wrapper-30-Nkg.compact-2Nkcau {
  margin-top: 3px; /*give more space between message to avoid visual gitch*/
}
/*code in message*/
.markup-eYLPri code { /*Markup for code in message*/
  background-color: rgba(45, 111, 131, 0.438);
  border-color: rgb(0, 0, 0);
}

/*spoiler images & texts*/
.spoilerContainer-3wsC0k.hidden-3B-Rum{
 background-color: rgb(66, 80, 80);
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum{
  background-color: rgba(76, 160, 163, 0.671);
  border-radius: 15px;
}

/*Typing zone*/
.theme-dark .scrollableContainer-15eg7h {
  background-color: transparent; /*typing zone  set to be transparent*/
}
.channelTextArea-1VQBuV {
  background-color: rgba(0, 0, 0, .3); /*text bar color*/
  border-radius: 20px; /*make the input text bar more smooth*/
}

.form-3gdLxP { /*the "border" between tchat zone feed and input text zone*/
  margin-top: 0px; /*taller, this prevent a visual bug*/
   margin-left: -13px; /*widder, this prevent a visual bug*/
}

.theme-dark .autocomplete-3NRXG8 { /*the box pop up when you @ or mention someone*/
  background-color: rgba(0, 0, 0, 0.096); /*color of the background thread chat zone*/
  backdrop-filter: blur(5px); /*blur filter for the thread zone chat */
  border: none; /*remove the border*/
          box-shadow: /*add a neon instead of the legacy border*/
              0 0 .2rem #fff,
              inset 0 0 .5rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
              0 0 .5rem #08f, /*offset glowing*/
              inset 0 0 1.5rem #08f;  /*glowing intensity*/
            }  

/*button in channel*/
.card-PQEqCK {
  background-color: var(--color-light);
}
.card-PQEqCK:hover{
  background-color: var(--color-transparency);
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo{ /*welcome/greeting button*/
  background-color: var(--color-secondary);
  border-radius: 13px;
  transition: all .4s;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{ /*welcome/greeting button in hover mode*/
  background-color: rgb(17, 194, 194);
  border-radius: 5px;
}


/*UNREAD SPAN*/
.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt { /*Undread banner or "new message span"*/
    margin-bottom: 35px; /*Higher from the new message*/
    top: .8rem; /*lower from the old message*/
}

/*Jump to present bar*/

.jumpToPresentBar-1cEnH0 {
  background: var(--color-light); /*main color*/
  border-radius: 3px; /*smooth the border */
  padding-bottom: 4px; /*change the height of the bar*/
  backdrop-filter: blur(var(--popout-blur)); /*add a filter*/
  transition: all 0.4s; /*add an all transition between normal and hover statue*/
 margin-left: 20px; /*change the lengt of the bar*/
 margin-right: 20px;
}

.jumpToPresentBar-1cEnH0>button {
  color: rgba(255, 255, 255, 0.7); /*change the color of the button's text*/
}

.jumpToPresentBar-1cEnH0:hover {
  background: var(--color-secondary); /*change the color when hovered*/
  border-radius: 15px; /*change the border radius for the hovered form*/
}

/*Avatar position in the feed*/
.avatar-2e8lTP {
    top: 2px; /*vertical postion, positive value = higher*/
    left: -49px; /*honrizontal position, negative value =  move to left*/
}

/*Quote Response*/
.repliedMessage-3Z6XBG:before {
  transform: translateX(38px); /*bar of the quoted message, push it to the right to avoid colision with the user avatar*/
}
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU,
.repliedMessage-3Z6XBG .replyBadge-LMm_Ic {
  margin-left: 5px; /*push the quote to the right to avoid colision with other item such as the username*/
}

.wrapper-30-Nkg.cozy-VmLDNB, .wrapper-30-Nkg.compact-2Nkcau { /*this use the var to avoid bug, aligne to the right item to avoid colision*/
  padding: var(--message-padding-top) var(--message-padding-side);
}

.repliedMessage-3Z6XBG:before { /*Quote reply and/or with slash command */
      top: -49%; /*move the bar/span higher to avoid colision with the quoted message*/
    right: 100%; /*modify the length of the bar*/ 
    left: -48px; /*modify the horizontal starting point of the bar */
    border-top-left-radius: 20px; /*modify the angle of the bar, the smoothness  if you prefer*/
    border-color: var(--color-light); /*this modify the color of the bar*/
    transition: .6s;
}

.repliedMessage-3Z6XBG:hover:before { /*Quote reply and/or with slash command */
right: 95%;
top: -90%;
transition: .6s;
}


/*THREAD*/
.cozy-VmLDNB.hasThread-3h-KJV:after{
  left: -29px!important; /*change the location of the thread bar in the feed*/
  border-color: var(--color-light); /*change the color of the thread bar*/
}

.container-3i3IzO{
  background-color: var(--color-transparency)!important; /*background color thread overview under a message in the feed*/
  border-radius: 15px; /*change its shape*/
}

.container-3i3IzO::after{
  background-color: var(--color-transparency)!important; /*background color thread overview under a message in the feed*/
  border-radius: 15px; /*change its shape*/
  backdrop-filter: blur(2px); /*add a blur filter*/
 z-index: -999;
}
.container-3XgAHv{
background-color: rgba(0, 0, 0, 0.096); /*color of the background thread chat zone*/
backdrop-filter: blur(5px); /*blur filter for the thread zone chat */
border: none; /*remove the border*/
        box-shadow: /*add a neon instead of the legacy border*/
            0 0 .2rem #fff,
            inset 0 0 .5rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
            0 0 1.5rem #08f, /*offset glowing*/
            inset 0 0 1.5rem #08f;  /*glowing intensity*/
            }


.quotedChatMessage-PxNsZi{ /*readjust thee location of the quoted message in the thread window*/
  margin-left: 18px; /*mooving to the right*/
}

.resizeHandle-PBRzPC {
  display: none;
}


/*MENTION*/


.mention {
    border-radius: 15px; /*mention border radius to make them more smooth */

}

.localBot-GrCgVt:before,
.mentioned-Tre-dv:before {
  display: none;  /*remove the yellow bar when you got a mention*/
  }
.mentioned-Tre-dv {
    background-color: transparent!important; /*remove the orange filter in the message where you were mentionned, if you want a color you can remove the "transparent" value by a color */
 }


.wrapper-30-Nkg.cozy-VmLDNB, .wrapper-30-Nkg.compact-2Nkcau { /*to solve a visual bug with the animation above, the message border is smaller, doesn't affect message width*/
    margin-left: 47px;
    margin-right: 15px;
}

.mentioned-Tre-dv, .mouse-mode.full-motion .message-2CShn3.mentioned-Tre-dv {
padding-bottom: 7px;
padding-top: 4px;
} /*give more space between the neon and the message to avoid colision*/


/*EMBED*/
.embedFull-1HGV2S {
 background-color: var(--color-transparency)!important; /*change the color of the embed*/
  backdrop-filter: blur(2px); /*add a blur filter to the embed*/
    border-radius: 25px; /*make the embed more round to avoid colision with the neon of the mention*/
}

/*Embed Discord Invit*/
.wrapper-1HIH0j{
  background-color: var(--color-secondary);
  border-radius: 13px;
  backdrop-filter: blur(3px);
}

/*join button*/
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover{
  background-color: var(--color-button);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79{
  border-radius: 8px!important;
}


/*IMAGES*/

/*remove button*/
.removeAttachmentButton-1iO1qS{
 opacity: 0;
    position: sticky; /*moving the remove button under the image instead of on an another continent*/
    top: -2px;
    right: -20px;
    cursor: pointer;
    padding: 2px;
    color: var(--interactive-normal);
}


/* UPLOAD FILES*/
.upload-vLbqu- {
    border-radius: var(--popout-radius); /*border radius of the*/
    background-color: #00a2ff0a;
}

.attachment-1PZZB2 { /*uploading file in the feed AND uploaded*/
  background-color: var(--color-transparency); /*change the background color*/
  border-color: transparent; /*remove the black/grey border*/
  backdrop-filter: blur(3px); /*add a blur filter*/
  border-radius: 10px; /*smooth the angle*/
}


/*--EMOJI AND REACTION*/
.reaction-3vwAF2 {
  background-color: rgba(54, 77, 121, 0.349); /*change the color of an unreacted reaction */
  border-radius: 15px; /*change the border radius of all reactions*/
  border-color: var(--color-secondary);
}

.reaction-3vwAF2:hover {
   background-color: var(--color-secondary) ; /*color of a reaction on hover*/
   }

.wrapper-2vIMkT {
   background-color: rgba(18, 79, 128, 0.315); /*quick reaction menu/ quote, create a thread and more menu. Change the main color*/
   backdrop-filter: blur(2px); /*add a blur filter*/
   border-radius: 15px; /*border radius set to 15px to get a more rounded menu*/
 }


.button-3bklZh {
  transition: .5s; /*animation hover out of the quick menu*/
}

 .button-3bklZh:hover {
   background-color: var(--color-light); /*color of the menu when you hover it*/
   transition: .5s; /*animation when you hover it */
 }


 .button-1zW0-r{
  background-color: var(--color-transparency); /*emoji button selector*/
}

.button-1zW0-r:hover{
  background-color: var(--color-secondary); /*hover the emoji button selector*/
}


/*all emoji selector*/
.contentWrapper-3vHNP2{
  background-color: var(--color-transparency);
  border: none; /*remove the border*/
        box-shadow: /*add a neon instead of the legacy border*/
            0 0 .2rem #fff,
            inset 0 0 .1rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
            0 0 .9rem #08f, /*offset glowing*/
            inset 0 0 .2rem #08f;  /*glowing intensity*/
  backdrop-filter: blur(3px);
}

.inspector-2A2Chb,.inspector-2A2Chb, .list-obNEuP, .scroller-2MALzE{
  background-color: var(--color-transparency);
}
.header-1ULbqO{
  background-color: transparent;
}
.unicodeShortcut-3N8oDe,.categoryItemRecentEmoji-Rk8CU1{
  background-color: rgb(70, 145, 145);
}
.navButtonActive-1EqC5l{
  color: var(--color-cyan);
  background-color: transparent;
  border: 1px solid cyan;
}
/*USERS IN GUILD PANNEL*/
.members-3WRCEx, .container-2vWgD2, .members-3WRCEx>div,.member-2iQhp7, .members-2y1nVj {
    background-color: rgba(31, 81, 114, 0); /*color of the members list in the guild right pannel*/
    border-top-left-radius:var(--popout-radius) ;
    transition: .7s;
}
 .container-2vWgD2:hover{
    background-color: rgba(31, 81, 114, 0)!important; /*color of the members list in the guild right pannel*/
    border-top-left-radius:var(--popout-radius) ;
    backdrop-filter: blur(3px)!important;
    left: 0px!important;
    transition: .7s;
    border: none; /*remove the border*/
        box-shadow: /*add a neon instead of the legacy border*/
            0 0 .2rem #fff,
            inset 0 0 .1rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
            0 0 .9rem #08f, /*offset glowing*/
            inset 0 0 .2rem #08f;  /*glowing intensity*/
}



.membersWrap-3NUR2t { /*smaller pannel for the guild members*/
    min-width: 240px;
    margin-right: -10px;
    max-height: 100%;
}

/*searchbar head*/
.searchBar-jGtisZ {
  padding: 0 8px;
  background-color: rgba(55, 48, 159, 0.229);
}


/** POP OUT **/


/*menu pop out*/

.menu-2TXYjN { /*server menu*/
    -webkit-box-shadow: var(--elevation-high); /*legacy value, keep it to prevent bug*/
    box-shadow: var(--elevation-high); /*box shadow around the frame*/
    background: var(--color-transparency); /*change the color */
    border-radius: 20px; /*change the border radius*/
}

.menu-2TXYjN::after{ 
    content: '';
    width: 100%; /*position of the pop out*/
    height: 100%; 
    position: absolute;
    backdrop-filter: blur(var(--popout-blur)); /*adding a blur filter*/
    z-index: -999;
  border-radius: 20px; /*change the border radius*/
}
/*FOLLOW THIS CHANNEL POP OUT*/
.wrapper-2SplAX {
  background-color: var(--color-secondary);
}
.button-cO0-d9{
  background-color: var(--color-button)!important;
}
/*
 *
 *  USER POPOUT
 *
 */
.userPopout-2j1gM4 {
  max-height: 90vh;
  background-color: var(--card-color) !important;
  border-radius: var(--popout-radius) !important;border:display ; /*remove the border*/
        box-shadow: /*add a neon instead of the legacy border*/
            0 0 .2rem #fff,
            inset 0 0 .5rem #fff, /*offset brightness of neon, or in another word, the "glowing intensity"*/
            0 0 .9rem #08f, /*offset glowing*/
            inset 0 0 1rem #08f;  /*glowing intensity*/
  
}

.popoutBanner-3cqRD9, .popoutBannerPremium-3i5EEI{
  position: relative;
  z-index: -1;
  transition: .7s;
}

.userPopout-2j1gM4:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-transparency);
  border-radius: var(--popout-radius);
  backdrop-filter: blur(3px);
  z-index: -1;
  transition: .7s;
}
.userPopout-2j1gM4 .avatar-2Vndt_ { /*background connection statu (connected, idle etc..)*/
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(2px);
  transition: .7s;
}
.userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
  background-color: transparent;
  transition: .7s;
}

.footer-3naVBw{
  background-color: transparent;
}

.bodyInnerWrapper-2bQs1k{
  background-color: transparent; /*about section*/
}

.separator-1So4YB{
  border-color: transparent; /*remove lower separator*/
  }

.divider-1wtgZ3{
  border-color: transparent;
  background-color: transparent; /*remove upper separator*/
}

.avatar-2Vndt_{
  border-color: transparent;
  background-color: transparent; /*remove the dark background behind the avatar*/
}

/**--role user--**/
.role-2TIOKu {
    transform: translate(0);
    overflow: hidden;

    --transparency: .4;
    border-radius: 13px;
}
.role-2TIOKu .roleRemoveIcon-387wKV { /*readjust the positin of the remove icon in user pop out*/
    margin: 0;
    left: 2px;
    top: 14px;
    transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {/*readjust the position of the remove BUTTON in user pop out*/
    position: static;
    left: 5px;
}
.role-2TIOKu .roleCircle-3K9O3d:before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: var(--transparency);
}

/*note zone*/
.input-2g-os5 {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    color: var(--text-normal);
    background-color: rgba(0, 219, 248, 0.096);
    border: none;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.textarea-_59yqs:focus {
      background-color: rgba(0, 219, 248, 0.096);
}
/*Send DM in user pop out*/
.input-2z42oC {
    font-size: 14px;
    border-radius: var(--popout-radius);
    background-color: var(--color-transparency);
}


/*SERVERS FOLDER*/
.folder-241Joy, .expandedFolderBackground-1kSAf6, .folder-241Joy:hover{
  background-color: var(--color-light); /*change the background color of folders, opened and closed*/
  border-radius: 15px; /*change the shape of eextended folder to avoid visual bug*/
}

/*DEFAULT ICON FOR IMAGELESS SERVERS*/
.childWrapper-1j_1ub{
  background-color: rgba(84, 151, 228, 0.524); /*basic color*/
  backdrop-filter: blur (5px);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
  background-color:rgba(0, 255, 255, 0.671)!important; /*color on hover*/
}

.circleIconButton-1VxDrg { /*add server and discover button*/
  background-color: var(--color-transparency);
}

.circleIconButton-1VxDrg:hover{ /*hover  button*/
background-color: var(--color-secondary);
}

/*-------STANDARD ICON LOOK--------*/
.iconWrapper-3plkqh, .emptyChannelIcon-1YdEz2, .role-23oyrw, .iconWrapper-3FqQ75, .pill-3pRQlO {
  background-color: var(--color-transparency);
}
.disableColor-1nVFoH{
color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
} /*return the verified badge server to the original green*/


/*-------PARAMETERS IN GUILD------*/

/*global view*/

/*upload a picture button*/
.lookOutlined-3yKVGo.colorPrimary-2AuQVo{
  border-color : rgb(84, 175, 84)!important;
  transition: .6s;
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover{
  background-color : rgb(84, 175, 84)!important;
  border-radius: 15px;
  transition: .6s;
}

/*filler*/
.lookFilled-1GseHa.select-1Ia3hD,.option-2eIyOn, .option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv){
  background-color: var(--color-secondary) ;
  border-color: var(--color-secondary)!important; /*menu selector*/
   backdrop-filter: blur(2px);
}
.popout-1KHNAq {
 border-color:  var(--color-secondary); /*menu selector*/
  background: transparent;
}

.option-2eIyOn:hover{
  background-color: var(--color-transparency); /*menu selector*/
}

/*text color*/
.subtitle-2SfoOV{
  color: white;
}

/*QUICK USER SETTINGS / SATUES*/
.withTagAsButton-OsgQ9L:hover, .withTagless-10ooWt:hover{
  background-color: var(--color-secondary);/*change the text color*/
}

/*TESTING ZONE TESTING ZONE TESTING ZONE*/
.defaultColor-HXu-5n,.username-Qpc78p,.textContent-TsKzji,.title-338goq,.name-2m3Cms{
  color: var(--color-cyan);
} /*change the text color*/

.clickable-ZD7xvu .icon-2xnN2Y,.app-2CXKsg button,.linkButtonIcon-7rsZcu,.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.themed-2-lozF, .title-x4dI75{
  color: aqua;/*change the icon color*/
}

.subtext-14b69p{
  color: rgb(245, 245, 245)/*change the text color*/
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover{
  background-color: transparent;
  border-color: var(--color-button);
  border: 1px solid ;
  transition: all .4s; /*change the "add friend" button in the friend menu*/
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover{
border: 1px solid var(--color-button);
color: greenyellow;
border-radius: 13px;/*change the "add friend" button in the friend menu*/
}


/*EVENT*/
.avatarDecoration-34OC0G {
    position: absolute;
    z-index: 2;
    left: calc(-29px - 40px*var(--decoration-to-avatar-ratio)/2);
    margin-top: calc(24px - .125rem - 40px*var(--decoration-to-avatar-ratio)/2);
    width: calc(40px*var(--decoration-to-avatar-ratio));
    height: calc(40px*var(--decoration-to-avatar-ratio));
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*DISCOVER*/

.new-3EJMgr {
  background-color: #1d18b394;
  backdrop-filter: blur(2px);
}

.theme-dark .pageWrapper-eg3-6i {
    background-color: #1a326246;
    backdrop-filter: blur(var(--popout-blur));
}

.theme-dark .card-2TuZPZ:hover .iconMask-2fMR98, .theme-dark .iconMask-2fMR98:hover .iconMask-2fMR98 { /*image mask on hover*/
  background-color: var(--color-secondary);
}

.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98 {
    background-color: #07112c62;
} 

.theme-dark .card-2TuZPZ:hover {
    background-color: #4d587533!important;
} 

.theme-dark .searchBox-pyIJJj {
    background-color: #ffffff; /*search bar*/
}

.lookFilled-1GseHa.select-1Ia3hD {
    background-color: var(--card-color); /*filter "langage"*/
    border-color: #07112c62;
}

.popout-1KHNAq {
    border: 0px solid var(--background-tertiary); /*pop up menu langage*/
    background: var(--card-color);
    border-radius: 0 0 20px 20px;
   backdrop-filter: blur(2px);
}

.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
    color: var(--interactive-active);
    background-color: #2e4a9662;
}

.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv):hover {
    background-color: #2e5f9662;
}

.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: #2c90b862;
    color: var(--interactive-hover);
}

/*FORUM*/
.container-3wLKDe{ /*main zone of the forum panel / interface*/
  background-color: transparent
}

.chatContent-2O4SXb{ /*Chat zone in the forum*/
  background-color: transparent;
}
.container-3YcgdM, .buttonInner-3aRbcx { /*the bar for the buttons in forum post*/
  background-color: var(--color-secondary);
  border-color: none;
  border-radius: 15px;
}
.button-f2h6uQ .contents-3ca1mk{ /*button "follow" and copy link in forum header chat post*/
  border-color: var(--color-cyan);
}

.divider-AZrXIA{ /*divider under the bar*/
  background-color: transparent;
}

/*search bar - Post cards*/
.mainCard-3KBsBI {
  background-color: var(--color-transparency);
  transition: .4s
}

.mainCard-3KBsBI:hover {
  background-color: var(--color-secondary);
   backdrop-filter: blur(2px);
   transition: .4s;
}

.matchingPostsRow-2IiEQ1 {
  background-color: var(--color-transparency);
}

/*POP UP UPDATE*/
.root-1CAIjD{ /*pop up better discord upadte and other pop up that use this root*/
  background-color: var(--color-light); /*does not affect the footer*/
  border-radius: 15px; /*does not affect the footer*/
}

.bd-changelog-modal video, .bd-changelog-modal img{ /*Radius of the image*/
border-radius: 15px;
}

.theme-dark .footerSeparator-3U8YsT{ /*make the footer transparent*/
  background-color: transparent;
}

.emptyCard-KDifrB{
  background-color: var(--color-light);
}

/*DEV ZONE*/
.theme-dark .container-1CH86i, .theme-dark .panel-2ZFCRb{ /*USER settings box and activity in the lower left of the screen*/
  background-color: transparent;
}
