/*Import*/

@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/font.css'); /*font*/
@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/sound-para-anim.css'); /*sound para-anime*/
@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/roles-anim.css'); /*role animation in pop out user, but doesn't work for the moment*/



:root {
    --background-image: url(https://cdn.discordapp.com/attachments/909430333806608385/918433660426924102/94628242_p0.png);; /*Changes the background image*/
    --bg-blur: 0px; /*Amount of blur on the background*/
    --bg-opacity: 80%; /*background value of the opacity*/
    --mention-rgb: 135,15,255;/*mention alerte color in R G B value*/
    --message-padding-side: 5px; /*message padding*/
    --message-padding-top: 1px;
    --scrollbar-color: 255,255,255; /*RGB values*/
    --scrollbar-opacity: 0.15; /*opacity of the scroll bar "bus" 0 -> 1*/
    --scrollbar-opacity-hover: 0.4;/*opacity of the scroll bar "bus" on hover 0 -> 1*/
    --scrollbar-width: 15px; /*angle smoothness*/
    --popout-color: rgba(0,0,0,0.55);
    --popout-blur: 8px; /*blur of the popup's result search bar*/
    --popout-header-opacity: 0.3;
    --popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25); /* popup result search bar shadow*/
    --popout-radius: 12px; /*radus of the pop up of the result from the search bar*/
    --popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    --card-color: rgba(32, 31, 102, 0.4); /*general dark color*/
    --card-radius: 8px /*thread smoothness*/
  
}
 /*-----MAIN TRANSPARENCY FOR THE APP-----*/

/*IMAGE PARAMETERS*/
#app-mount::before {
    content: ""; /*void content*/
    background: var(--background-image);/*custom background*/
    background-position: center; /*position of the background*/
    background-size: cover; /*size of the background, i recommand "cover" */
    position: absolute; /*position of the image*/
    top: 0; /*position value*/
    left: 0;/*position value*/
    height: 100%; /*position value*/
    width: 100%;/*position value*/
    filter: blur(var(--bg-blur)); /*blur filter, the defalut value is in "root" and is set to "0"*/
    opacity: var(--bg-opacity); /*opacity value is in "root", default is set to "80%"*/
}
/*Transparent panels*/
.container-1NXEtd, .sidebar-1tnWFu, .panels-3wFtMD, .chat-2ZfjoI, .messages-3amgkR {
  background-color: transparent; /* main space of discord, don't delete this line*/
}
.appMount-2yBXZl, body {
    background-color: var(--bg-main-panels);
}
.app-2CXKsg { /*Discord Background*/
    background-color: var(--bg-main-panels);
}

.layers-OrUESM {/*don't delete this line*/
  background-color: rgba(0, 0, 0, 0.527); /*you CAN delete this one if you want or change the color of the filter, if it's ugly it's your fault*/
}/*don't delete this line*/

.guildSeparator-33mFX6, .scroller-3X7KbA, .wrapper-1_HaEi { /*remove standard background*/
  background: none;
}
.standardSidebarView-E9Pc3j, /*don't delete this */
.sidebarRegionScroller-FXiQOh, /* this modify the side bar you can delet/change it if you want*/
.contentRegion-3HkfJJ,/*this is for the main region, you can delet/modify it but it can look strange*/
.bg-1QIAus, /*this is the background, if you delete it, you will get a true black background*/
.theme-dark .layer-86YKbF, /*parameter for dark mode*/
.contentRegionScroller-2_GT_N, /*I don't remember what is the purpose fo this line xD*/
.scroller-3_YDR2 { /*scroller zone is set to transparent, you can modify is by a RGB or Hexa value if you want*/
  background-color: transparent;/*remove the standard background*/
}



/*------TCHAT ZONE------*/

/*Typing zone*/
.scrollableContainer-15eg7h {
  background-color: transparent; /*typing zone  set to be transparent*/
}
.channelTextArea-1FufC0 {
  background-color: rgba(0, 0, 0, .3); /*text bar color*/
}





/*searchbar head*/
.searchBar-jGtisZ {
  padding: 0 8px;
  background-color: rgba(55, 48, 159, 0.229);
}
