@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body, div, span, textarea, ::-webkit-input-placeholder {
  font-family: 'Baloo Bhaijaan 2', cursive;
}


.defaultColor-HXu-5n,.username__81ee6,.textContent__45dd0,.title__10613,.name__02dbd{
  color: var(--color-cyan);
} /*change the text color*/

.clickable_d23a1a .icon__4cb88,.app_de4237 button,.linkButtonIcon__2f35b,.container__11d72 .topPill-3DJJNV .item-3XjbnG.themed-2-lozF, .title_dc625c{
  color: aqua;/*change the icon color*/
}

.subtext__623a0{
  color: rgb(245, 245, 245)/*change the text color*/
}

.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542, .tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover{
  background-color: transparent;
  border-color: var(--color-button);
  border: 1px solid ;
  transition: all .4s; /*change the "add friend" button in the friend menu*/
}

.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover{
border: 1px solid var(--color-button);
color: greenyellow;
border-radius: 13px;/*change the "add friend" button in the friend menu*/
}

.topic__16ae3 {
  color: white; /*change the color of the channel's topic*/
}

/*---------boost objective------*/
 
.text-xs-normal_ccc5fb, .count_fe6538{
  font-family: 'Baloo Bhaijaan 2';
    font-size: 12px;
    line-height: 16px;
    color:var(--color-cyan) !important;
}
/*--------------Reactions-----------------*/

