@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body, div, span, textarea, ::-webkit-input-placeholder {
  font-family: 'Baloo Bhaijaan 2', cursive;
}


.defaultColor-HXu-5n,.username-Qpc78p,.textContent-TsKzji,.title-338goq,.name-2m3Cms{
  color: var(--color-cyan);
} /*change the text color*/

.clickable-ZD7xvu .icon-2xnN2Y,.app-2CXKsg button,.linkButtonIcon-7rsZcu,.container-ZMc96U .topPill-3DJJNV .item-3XjbnG.themed-2-lozF, .title-x4dI75{
  color: aqua;/*change the icon color*/
}

.subtext-14b69p{
  color: rgb(245, 245, 245)/*change the text color*/
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover{
  background-color: transparent;
  border-color: var(--color-button);
  border: 1px solid ;
  transition: all .4s; /*change the "add friend" button in the friend menu*/
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover{
border: 1px solid var(--color-button);
color: greenyellow;
border-radius: 13px;/*change the "add friend" button in the friend menu*/
}

.topic-11NuQZ {
  color: white; /*change the color of the channel's topic*/
}

/*---------boost objective------*/
 
.text-xs-normal-3O7EaX, .count-e4ipkH{
  font-family: 'Baloo Bhaijaan 2';
    font-size: 12px;
    line-height: 16px;
    color:var(--color-cyan) !important;
}
/*--------------Reactions-----------------*/

.reactionCount-26U4As{
  color: white;
}
