/**
 * @name EAChouquette Glass
 * @author @Shuutoka
 * @version EA-1.0.6.1
 * @description transparent & animated theme in bêta.
 * @source https://github.com/shuutoka/Chouquette-Glass/
*/

/*Import*/
@import url('https://shuutoka.github.io/Chouquette-Glass/cg2/cgtheme.css');


:root {
    --background-image-custom: url(''); /*<-- put your image URL between the quote '' , must be a direct link to your image, not a webpage / website. see variable below as example*/
    --background-image-pixiv: url(https://cdn.discordapp.com/attachments/909430333806608385/918433660426924102/94628242_p0.png);; /*Changes the background image*/
    --background-image-Minsk: url('https://ac2-o.namu.la/20210311/fdeaf21af1a8c94cf65995fa560394e605261bf1af72c8c9daaa24acee141fe4.jpg?type=orig');;
    --background-image-Mikasa: url('https://wallpapercave.com/uwp/uwp423127.jpeg');;
    --background-image-Ibuki: url('https://i.imgur.com/wPsgn7Y.jpeg');
    --background-image-dust: url('https://cdn.discordapp.com/attachments/987766394521272350/1167862595911421997/polar-lights-5858648_1920.jpg?ex=654fabcc&is=653d36cc&hm=47356984af44b2c5e852a1b07adcb3aa9a67107f11acaee8bdf3379c21f2f399&');
    --bg-blur: 0px; /*Amount of blur on the background*/
    --bg-opacity: 80%; /*background value of the opacity*/
    --scrollbar-color: 255,255,255; /*RGB values*/
    --scrollbar-opacity: 0.15; /*opacity of the scroll bar "bus" 0 -> 1*/
    --scrollbar-opacity-hover: 0.4;/*opacity of the scroll bar "bus" on hover 0 -> 1*/
    --popout-color: rgba(0,0,0,0.55); /*principal color of popout*/
    --popout-blur: 8px; /*blur of the popup's result search bar*/
    --popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25); /* popup result search bar shadow*/
    --popout-radius: 12px; /*radus of the pop up of the result from the search bar*/
    --color-button: rgb(67, 155, 67); /*color buttons*/
    --color-transparency: #0ebfff18; /*general dark color*/
    --color-light: rgba(70, 133, 187, 0.623); /*principal color but lighter*/
    --color-secondary: #0ebfff59; /*secondary color of the theme, used by many sub item and other*/
    --color-white: rgba(255, 255, 255, 0.096); /*color of "white" you can change it. used by "elected item"*/
    --color-cyan: rgb(17, 194, 194); /*the bright color of the theme used by many elements*/
    --color-title: rgba(0, 128, 255, 0.427); /*change the color of title texte*/
    --color-date-bar: rgba(14, 205, 244, 0.734); /*color of the separator bar in message date / day*/
    --color-darkerblue: rgba(3, 57, 96, 0.588); /*main color, darker version*/
    --color-code: rgba(45, 111, 131, 0.438); /*change the background color of "code" in message (css, C, Java etc...)*/
    --color-searchbar: rgba(55, 48, 159, 0.229); /*change the color of the searchbar*/
    --color-note: rgba(0, 219, 248, 0.096);
    --neon-color: #0088FF; /*color of all neon effect*/
    --color-cyan-transparent: rgba(0, 255, 255, 0.671);
    --color-guild: rgba(84, 151, 228, 0.524); /*default color for guild icon*/
    --color-icon-bright: aqua; /*color of some icon in discord*/
    --card-radius: 8px /*thread smoothness*/;
 
}

/*IMAGE PARAMETERS*/
#app-mount::before {
    background: var(--background-image-Minsk);/*<-- CHANGE THE BACKGROUND IMAGE, modify the value "Minsk" by what you want, aviable by default : Pixiv, Minsk, Mikasa, Ibuki, dust*/
    background-position: center; /*position of the background*/
    background-size: cover; /*size of the background, i recommand "cover" */
    position: absolute; /*position of the image*/
    top: 0; /*position value*/
    left: 0;/*position value*/
    height: 100%; /*position value*/
    width: 100%;/*position value*/
    filter: blur(var(--bg-blur)); /*blur filter, the defalut value is in "root" and is set to "0"*/
    opacity: var(--bg-opacity); /*opacity value is in "root", default is set to "80%"*/
}
