/*Add a neon animation when you hover the friend's activity card board in your "friends menu" / DM*/
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(31, 88, 102, 0.4); /*background color during the hover*/
    transition: .6s; /*speed of the transition between nothing and hover*/
    cursor: pointer; /*mouse type in hover*/
        box-shadow: 0 0 5px #0ebeff, 0 0 8px #0ebeff, 0 0 5px #0ebeff, 0 0 5px #0ebeff, 0 0 2px #0ebeff; /*color of the shadow box*/
    } /*Animation hover  on friend's activity card*/
