/* Friends activity card neon hover. */
#app-mount [class*="nowPlayingColumn_"] [class*="outer_"] {
    background: rgb(255 255 255 / .055) !important;
    transition: background-color .6s ease, box-shadow .6s ease;
}
#app-mount [class*="nowPlayingColumn_"] [class*="outer_"]:hover {
    background: var(--color-transparency, rgb(14 191 255 / .095)) !important;
    cursor: pointer;
    box-shadow: 0 0 5px var(--neon-color), 0 0 8px var(--neon-color), 0 0 5px var(--neon-color);
}
