/*microphone and sound hide*/
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}
.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}
.button-12Fmur:hover {
    background-color: var(--color-secondary) !important; /*color on hover fot those buttons*/
    border-radius: 15px;
}

