.rolesList-3uZoaa {
  gap: 8px;
}
.role__631a3 {
  margin: 0;
  height: auto;
  padding: 6px 8px;
  border-radius: 4px;
  gap: 4px;
  position: relative;
  overflow: hidden;
}
.role__631a3:hover .roleCircle-1EgnFN {
  width: 100%;
  opacity: 1;
}
.role__631a3:hover .roleCircle-1EgnFN:not(:empty) ~ .roleName_d19d33 {
  margin-left: 22px;
}
.roleCircle-1EgnFN {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  border-radius: 0;
  width: 85%;
  -webkit-mask: linear-gradient(90deg, black, transparent);
          mask: linear-gradient(90deg, black, transparent);
  filter: none;
  opacity: 0.3;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.15s ease;
}
.roleName_d19d33 {
  position: relative;
  margin: 0;
  transition: margin-left 0.15s ease;
}
.roleRemoveIcon__7f63d {
  width: 16px;
  height: 16px;
}
